@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  font-family: 'Space Mono', monospace;
}

button {
  height: 32px;

  padding: 0 4px;

  font-weight: 600;

  color: #000;
  background-color: transparent;

  border: 2px solid #000;

  transition: scale 100ms ease-in-out;

  outline: 0;
  text-decoration: 0;
  cursor: pointer;
}

button:hover {
  color: #fff;
  background-color: #000;
}

button:active {
  scale: 0.92;
}
